// scss-lint:disable SelectorDepth SelectorFormat
// scss-lint:disable NestingDepth ImportantRule

@import "constants";
@import "mixins";

.inline-step {
  border: 1px solid $color-gainsboro;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;

  .step-header {
    align-items: center;
    border-bottom: 1px solid $color-gainsboro;
    display: flex;
    min-height: 38px;

    .fix-block {
      flex-shrink: 0;
    }

    .step-collapse {
      font-size: 14px;
      text-align: center;
      min-width: 30px;

      .fas {
        cursor: pointer;
        font-size: 14px;
      }
    }

    .step-position {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      min-width: 38px;
    }

    .step-name {
      flex-grow: 1;
      max-width: calc(100% - 250px);
      padding: 0 10px;

      .view-mode, input {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .step-actions {
      margin: 0 12px;

      .fas {
        cursor: pointer;
        font-size: 14px;
        margin: 0 12px;
      }
    }
  }

  // Step body
  .step-body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    .step-description {
      padding: 10px 0 5px;
      position: relative;
      width: 100%;

      .form-group {
        margin-bottom: 0;
      }
    }


    // Step checklist
    .step-checklists {
      .checklist {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .checklist-header {
          align-items: center;
          display: flex;
          min-height: 30px;
          width: 100%;
        }

        .checklist-name {
          flex-grow: 1;
          font-size: 14px;
          font-weight: bold;
          max-width: calc(100% - 160px);
        }

        .checklist-actions {
          //display: none;
          margin-left: 10px;
          opacity: 0.7;
          text-align: right;
          width: 160px;

          .fas {
            cursor: pointer;
            font-size: 14px;
            padding: 5px 12px;
          }

          .fa-eye {
            display: none;
          }
        }

        .checklist-items {
          margin-bottom: 0;
          padding-inline-start: 10px;
        }

        .checklist-item {
          align-items: center;
          background: $color-white;
          border-radius: 5px;
          box-shadow: 0;
          display: flex;
          list-style-type: none;
          margin: 5px 0px;
          min-height: 30px;
          padding: 5px 10px;
          transition: $md-transaction;
          max-width: 100%;

          .fa-grip-horizontal {
            cursor: pointer;
            display: none;
            line-height: 20px;
            opacity: 0.7;
          }

          .checklist-checkbox {
            width: 40px;
          }

          .checklist-item-name {
            max-width: calc(100% - 40px);
          }
        }

        &:nth-child(1){
          .checklist-actions {
            .fa-arrow-up {
              display: none;
            }
          }
        }

        &:nth-last-child(1){
          .checklist-actions {
            .fa-arrow-down {
              display: none;
            }
          }
        }

        &:hover {
          .checklist-actions {
            display: block;
          }
        }

        &.edit-mode {
          .checklist-actions {
            .fa-eye {
              display: inline-block;
            }

            .fa-pen {
              display: none
            }
          }


          .checklist-item {
            box-shadow: $md-shadow;

            .custom-checkbox {
              display: none;
            }

            .fa-grip-horizontal {
              display: inline-block;
            }
          }
        }
      }
    }

    // Step tables

  }
}