<% if step.tables.any? %>
  <% step.tables.each do |table| %>
  <div class="step-table">
    <div class="table-header">
      <div class="tables-title">
        <%= custom_auto_link(table.name, simple_format: false, team: current_team) %>
      </div>
      <div class="action-buttons">
        <div class="sci-button export-to-description">Export to description</div>
        <div class="sci-button export-to-xlsx"
             data-export-url="<%= export_xlsx_step_step_table_path(step, table) %>"
             
        >Export to .XLSX</div>
        <div class="sci-button delete-table"
             data-destroy-url="<%= step_step_table_path(step, table) %>"
        ><span class="fas fa-trash"></span></div>
      </div>
    </div>
    <div data-role="hot-table" class="hot-table">
      <%= hidden_field(table, :contents, value: table.contents_utf_8, class: "hot-contents") %>
      <div data-role="step-hot-table" class="step-result-hot-table"></div>
    </div>
  </div>
  <% end %>
<% end %>