// scss-lint:disable SelectorDepth SelectorFormat
// scss-lint:disable NestingDepth ImportantRule

@import "constants";
@import "mixins";

.inline-step {
  .step-body {
    // Step checklist
    .step-checklists {
      .checklist {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .checklist-header {
          align-items: center;
          display: flex;
          min-height: 30px;
          width: 100%;
        }

        .checklist-name {
          flex-basis:  calc(100% - 170px);
          font-size: 14px;
          font-weight: bold;
          max-width: calc(100% - 170px);
        }

        .checklist-actions {
          display: none;
          flex-basis: 160px;
          margin-left: 10px;
          opacity: 0.7;
          text-align: right;

          .fas {
            cursor: pointer;
            font-size: 14px;
            padding: 5px 10px;
          }

          .fa-eye {
            display: none;
          }
        }

        .checklist-items {
          margin-bottom: 0;
          padding-inline-start: 10px;
        }

        .checklist-item {
          align-items: center;
          background: $color-white;
          border-radius: 5px;
          box-shadow: 0;
          display: flex;
          list-style-type: none;
          margin: 5px 0px;
          min-height: 30px;
          padding: 5px 10px;
          transition: $md-transaction;
          max-width: 100%;

          .fa-grip-horizontal {
            cursor: pointer;
            display: none;
            line-height: 20px;
            opacity: 0.7;
          }

          .checklist-checkbox {
            width: 40px;

            .custom-checkbox {
              margin-left: -4px;
            }
          }

          .checklist-item-name {
            width: calc(100% - 80px);

            .view-name {
              line-height: 18px;
            }

            .edit-name {
              border: 0;
              display: none;
              height: 18px;
              line-height: 18px;
              outline: 0;
              padding: 0;
              width: 100%;
            }
          }

          .checklist-delete {
            text-align: right;
            width: 40px;

            .fa-times {
              cursor: pointer;
              display: none;
              line-height: 20px;
              opacity: 0.7;
            }
          }
        }

        .new-checklist-item {
          align-items: center;
          background: $color-white;
          border-radius: 5px;
          box-shadow: $md-shadow;
          cursor: pointer;
          display: none;
          margin: 5px 0px 5px 10px;
          min-height: 30px;
          opacity: .7;
          padding: 5px 10px;
          max-width: 100%;

          .fas {
            display: inline-block;
            width: 40px;
          }
        }

        &:nth-child(1){
          .checklist-actions {
            .fa-arrow-up {
              display: none;
            }
          }
        }

        &:nth-last-child(1){
          .checklist-actions {
            .fa-arrow-down {
              display: none;
            }
          }
        }

        &:hover {
          .checklist-actions {
            display: block;
          }
        }

        &.edit-mode {
          .checklist-actions {
            .fa-eye {
              display: inline-block;
            }

            .fa-pen {
              display: none
            }
          }

          .new-checklist-item {
            display: flex;
          }

          .checklist-item {
            box-shadow: $md-shadow;

            .custom-checkbox {
              display: none;
            }

            .fa-grip-horizontal {
              display: inline-block;
            }

            .checklist-item-name {
            width: calc(100% - 80px);

              .edit-name {
                display: inline-block;
                width: 100%;
              }

              .view-name {
                display: none;
              }
            }

            .checklist-delete {
              .fa-times {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}